@model SelectDepartmentViewModel
@{
    ViewData["Title"] = "Seleccionar departamento";
}

<h4>Seleccionar departamento</h4>
<p>Primero seleccione el departamento para continuar</p>
<div class="container">
    <div class="options-selector mb-4" id="schoolYearSelector">
        <div class="options-selector-label">Año escolar</div>
        <div class="options-selector-options">
            @foreach (var schoolYear in Model.SchoolYears)
            {
                <div class="option-selector" value="@schoolYear.Id" @(Model.SchoolYears.First().Id == schoolYear.Id ? "selected" : "")>@schoolYear.Name</div>
            }
        </div>
    </div>
    <div class="options-selector mb-4" id="departmentSelector">
        <div class="options-selector-label">Departamento</div>
        <div class="options-selector-options">
            @foreach (var department in Model.Departments)
            {
                <div class="option-selector" value="@department.Id" @(Model.Departments.First().Id == department.Id ? "selected" : "")>@department.Name</div>
            }
        </div>
    </div>
    <div class="col-3 mb-3 d-flex align-baseline">
        <button class="btn btn-success" onclick="SelectFaculty()">Continuar <span class="fa fa-arrow-right"></span></button>
    </div>
</div>

@section Scripts {
    <script src="~/js/options-selector.js"></script>
    <script>
        $(document).ready(function () {
            InitializeSelectors();
            $('.selected-department').select2({
                placeholder: "Seleccione el departamento"
            });
        });

        function SelectFaculty() {
            let selected = getSelectorOptionsSelectedValue("#departmentSelector");
            let sySelected = getSelectorOptionsSelectedValue("#schoolYearSelector");
            location.href = `/loaddistribution/@Model.RedirectTo?departmentId=${selected}&schoolYearId=${sySelected}`;
        }
    </script>
}