@model NavigationListViewModel<CourseModel>
@using QCUniversidad.WebClient.Services.Platform
@{
    ViewData["Title"] = "Cursos";
    bool courseAdded = (bool?)TempData["course-created"] ?? false;
    bool courseEdited = (bool?)TempData["course-edited"] ?? false;
    bool courseDeleted = (bool?)TempData["course-deleted"] ?? false;
}

<h1>Cursos</h1>

@if (courseAdded)
{
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong><span class="fa fa-info-circle"></span> Curso creado</strong> Se ha creado un nuevo curso satisfactoriamente.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (courseEdited)
{
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong><span class="fa fa-pencil-square"></span> Curso editado</strong> Se ha editado un curso satisfactoriamente.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (courseDeleted)
{
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong><span class="fa fa-trash-can"></span> Curso eliminado</strong> Se ha eliminado un curso satisfactoriamente.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<p>
    <a asp-action="Create" class="btn btn-success"><span class="fa fa-plus-circle"></span> Crear nuevo</a>
</p>

@if (Model.ItemsCount > 0)
{
    <div class="table-responsive">
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th>Denominación</th>
                    <th>Modalidad</th>
                    <th>Carrera</th>
                    <th>Año carrera</th>
                    <th>Inicia <span class="fa fa-arrow-right m-1"></span> Culmina</th>
                    <th>Curriculum</th>
                    <th>Periódos</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr id="@item.Id">
                        <td>
                            @item.Denomination
                        </td>
                        <td>
                            @item.TeachingModality.GetLabel()
                        </td>
                        <td>
                            <a asp-action="Details" asp-controller="Carrers" asp-route-id="@item.CareerId" class="link-info" data-bs-toggle="tooltip" data-bs-html="true" title="<div><small><span class='fa fa-info-circle'></span> Carrera</small></div> <div><b>@item.Career?.Name</b></div> <div><i>@item.Career?.Description</i></div>">
                                @item.Career?.Name <small><span class="fa fa-circle-info"></span></small>
                            </a>
                        </td>
                        <td>
                            @item.GetCareerYearLabel()
                        </td>
                        <td>
                            <span class="badge bg-info">
                                <span>@item.Starts.ToString("dd-MM-yyyy")</span><span class="fa fa-arrow-right m-1"></span><span>@item.Ends.ToString("dd-MM-yyyy")</span>
                            </span>
                        </td>
                        <td>
                            <a asp-action="Details" asp-controller="Curriculums" asp-route-id="@item.CurriculumId" class="link-info" data-bs-toggle="tooltip" data-bs-html="true" title="<div><small><span class='fa fa-info-circle'></span> Curriculum</small></div> <div><b>@item.Curriculum?.Denomination</b></div> <div><i>@item.Curriculum?.Description</i></div>">
                                @item.Curriculum?.Denomination <small><span class="fa fa-circle-info"></span></small>
                            </a>
                        </td>
                        <td>
                            @item.Periods?.Count
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-info">
                                <span class="fa fa-circle-info" />
                            </a>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-warning">
                                <span class="fa fa-edit" />
                            </a>
                            <button class="btn btn-sm btn-sm btn-outline-danger" onclick="RiseDeleteModal('@item.Id')">
                                <span class="fa fa-trash" />
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- Navigation -->

    <partial name="_PageNavigation" model="Model" />

    <!-- Modals -->

    <div class="modal fade" id="deleteCourseModal" tabindex="-1" aria-labelledby="deleteCourseModalTitle" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteCourseModalTitle"><span class="fa fa-trash"></span> Eliminar curso</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="modal-delete-content" class="modal-body">
                    ¿Esta seguro que desea eliminar el curso?
                </div>
                <div id="deleteModalFooter" class="modal-footer">
                    <div id="deleteModalLoadingSpinner" class="spinner-border text-primary" role="status" hidden>
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <button id="modal-delete-primarybutton" type="button" class="btn btn-danger"><span class="fa fa-trash-can"></span> Eliminar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><span class="fa fa-ban"></span> Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
    <script src="~/js/course-index.js"></script>
    <script src="~/lib/popper/popper.min.js"></script>
    <script>
        $(document).ready(function () {
            LoadTooltips();
        });

        function LoadTooltips() {
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl);
            });
        }
    </script>
    }
}
else
{
    <h1>No existen cursos en el sistema</h1>
}