@using QCUniversidad.Api.Shared.Enums
@using QCUniversidad.Api.Shared.Extensions
@model TeacherLoadViewModel

<div class="d-flex flex-row align-content-center">
    <div class="d-flex flex-column align-items-center pt-2">
        <svg data-value="@Model.Teacher.Load.LoadPercent" style="width: 50px; height: 50px;" class="circle-percentage" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" data-bs-toggle="tooltip" data-bs-html="true" title="<div><small><span class='fa fa-chart-pie'></span> Gráfico</small></div> <div><b>@(Model.Teacher.Load.LoadPercent)% de carga distribuida</b></div> <div>Representa el porciento de carga distribuida.</div>">
            <circle r="45" cx="50" cy="50" />
            <path class="meter" style="stroke-width: "10px" d="M5,50a45,45 0 1,0 90,0a45,45 0 1,0 -90,0" stroke-linecap="round" stroke-linejoin="round" stroke-dashoffset="282.78302001953125" stroke-dasharray="282.78302001953125" />
            <text x="50" y="50" text-anchor="middle" dominant-baseline="central" font-size="2rem"></text>
        </svg>
    </div>
    <div class="d-flex flex-column align-content-center" style="margin-left: 15px">
        <h3>@Model.Teacher.Fullname</h3>
        <p>@Model.Teacher.Position</p>
    </div>
</div>

<partial name="_LoadItemView" model="@Model.LoadItems" />

<!-- Add UniversityExtensionActions load -->
<div class="modal fade" id="UniversityExtensionActionsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="UniversityExtensionActionsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="UniversityExtensionActionsModalLabel">Definir carga de @NonTeachingLoadType.UniversityExtensionActions.GetEnumDisplayNameValue()</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @{
                    var uacards = new List<SelectCardModel>();
                    var uavalues = Enum.GetValues(typeof(UniversityExtensionActionsOptions));
                    foreach (UniversityExtensionActionsOptions value in uavalues)
                    {
                        uacards.Add(new SelectCardModel
                {
                    Id = $"card-{value.ToString()}",
                    GroupName = "UniversityExtensionActionsOptions",
                    Title = value.GetEnumDisplayNameValue(),
                    Description = value.GetEnumDisplayDescriptionValue(),
                    Value = value.ToString()
                });
                    }
                }
                <partial name="_SelectCardSet" model="uacards" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="UniversityExtensionActionsModalButton"><span class="fa fa-plus-square"></span> Agregar carga</button>
            </div>
        </div>
    </div>
</div>

<!-- Add CoursesReceivedAndImprovement load -->
<div class="modal fade" id="CoursesReceivedAndImprovementModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="CoursesReceivedAndImprovementLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CoursesReceivedAndImprovementLabel">Definir carga de @NonTeachingLoadType.CoursesReceivedAndImprovement.GetEnumDisplayNameValue()</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @{
                    var cards = new List<SelectCardModel>();
                    var values = Enum.GetValues(typeof(CoursesReceivedAndImprovementOptions));
                    foreach (CoursesReceivedAndImprovementOptions value in values)
                    {
                        cards.Add(new SelectCardModel
                {
                    Id = $"card-{value.ToString()}",
                    GroupName = "CoursesReceivedAndImprovementOptions",
                    Title = value.GetEnumDisplayNameValue(),
                    Description = value.GetEnumDisplayDescriptionValue(),
                    Value = value.ToString()
                });
                    }
                }
                <partial name="_SelectCardSet" model="cards" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="CoursesReceivedAndImprovementModalButton"><span class="fa fa-plus-square"></span> Agregar carga</button>
            </div>
        </div>
    </div>
</div>


<!-- Add UndergraduateTutoring load -->
<div class="modal fade" id="UndergraduateTutoringModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="UndergraduateTutoringLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="UndergraduateTutoringLabel">Definir carga de @NonTeachingLoadType.UndergraduateTutoring.GetEnumDisplayNameValue()</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="IntegrativeProjectDiplomants" class="form-label">Proyecto Integrador</label>
                    <input type="number" min="0" class="form-control" id="IntegrativeProjectDiplomants" placeholder="Cantidad de diplomantes">
                </div>
                <div class="mb-3">
                    <label for="ThesisDiplomants" class="form-label">Tesis de pregrado</label>
                    <input type="number" min="0" class="form-control" id="ThesisDiplomants" placeholder="Cantidad de diplomantes">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="UndergraduateTutoringModalButton"><span class="fa fa-plus-square"></span> Agregar carga</button>
            </div>
        </div>
    </div>
</div>

<!-- Add GraduateTutoring load -->
<div class="modal fade" id="GraduateTutoringModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="GraduateTutoringLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="GraduateTutoringLabel">Definir carga de @NonTeachingLoadType.GraduateTutoring.GetEnumDisplayNameValue()</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="DiplomaOrMastersDegreeDiplomants" class="form-label">Diplomado o mestría</label>
                    <input type="number" min="0" class="form-control" id="DiplomaOrMastersDegreeDiplomants" placeholder="Cantidad de diplomantes">
                </div>
                <div class="mb-3">
                    <label for="DoctorateDiplomants" class="form-label">Doctorado</label>
                    <input type="number" min="0" class="form-control" id="DoctorateDiplomants" placeholder="Cantidad de diplomantes">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="GraduateTutoringModalButton"><span class="fa fa-plus-square"></span> Agregar carga</button>
            </div>
        </div>
    </div>
</div>

<!-- Add ParticipationInProjects load -->
<div class="modal fade" id="ParticipationInProjectsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="ParticipationInProjectsLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ParticipationInProjectsLabel">Definir carga de @NonTeachingLoadType.ParticipationInProjects.GetEnumDisplayNameValue()</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @{
                    var ppcards = new List<SelectCardModel>();
                    var ppvalues = Enum.GetValues(typeof(ParticipationInProjectsOptions));
                    foreach (ParticipationInProjectsOptions value in ppvalues)
                    {
                        ppcards.Add(new SelectCardModel
                {
                    Id = $"card-{value.ToString()}",
                    GroupName = "ParticipationInProjectsOptions",
                    Title = value.GetEnumDisplayNameValue(),
                    Description = value.GetEnumDisplayDescriptionValue(),
                    Value = value.ToString()
                });
                    }
                }
                <partial name="_SelectCardSet" model="ppcards" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="ParticipationInProjectsModalButton"><span class="fa fa-plus-square"></span> Agregar carga</button>
            </div>
        </div>
    </div>
</div>

<!-- Add OtherFunctions load -->
<div class="modal fade" id="OtherFunctionsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="OtherFunctionsLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="OtherFunctionsLabel">Definir carga de @NonTeachingLoadType.OtherFunctions.GetEnumDisplayNameValue()</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="OtherFunctionsValue" class="form-label">Cantidad de tiempo destinado a otras funciones (h/mes)</label>
                    <input type="number" min="0" class="form-control" id="OtherFunctionsValue" placeholder="Tiempo de otras funciones">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="OtherFunctionsModalButton"><span class="fa fa-plus-square"></span> Agregar carga</button>
            </div>
        </div>
    </div>
</div>