@model IList<PeriodSubjectModel>

<div class="d-flex justify-content-between mt-3">
    <h3>Asignaturas del período</h3>
    <button type="button" class="btn btn-success" onclick="CreatePeriodSubject()"><span class="fa fa-plus"></span> Agregar asignatura</button>
</div>

@if (Model.Any())
{
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Asignatura</th>
                    <th>Exámenes parciales</th>
                    <th>Exámen final</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pssubject in Model)
                {
                    <tr id="@pssubject.Id">
                        <td>
                            <a asp-action="Details" asp-controller="Subjects" asp-route-id="@pssubject.SubjectId" class="link-info">
                                @pssubject.Subject.Name <small><span class="fa fa-info-circle" data-bs-toggle="tooltip" data-bs-html="true" title="<div><small><span class='fa fa-info-circle'></span> Asignatura</small></div> <div><b>@pssubject.Subject.Name</b></div> <div>@pssubject.Subject.Description</div>"></span></small>
                            </a>
                        </td>
                        <td align="right">
                            @pssubject.MidtermExamsCount
                        </td>
                        <td align="center">
                            @if (pssubject.HaveFinalExam)
                            {
                                <span class="fa fa-check-circle text-success" data-bs-toggle="tooltip" data-bs-html="true" title="<div><small><span class='fa fa-info-circle'></span> Exámen final</small></div> <div><b>Tiene exámen final</b></div> <div>Esta asignatura aplicará exámen final en el semestre.</div>"></span>
                            }
                            else
                            {
                                <span class="fa fa-circle-minus text-muted" data-bs-toggle="tooltip" data-bs-html="true" title="<div><small><span class='fa fa-info-circle'></span> Exámen final</small></div> <div><b>No tiene exámen final</b></div> <div>Esta asignatura no aplicará exámen final en el semestre.</div>"></span>
                            }
                        </td>
                        <td>
                            <button type="button" class="btn btn-sm btn-warning" onclick="EditPeriodSubject('@pssubject.Id')"><span class="fa fa-edit"></span></button>
                            <button type="button" class="btn btn-sm btn-danger" onclick="DeletePeriodSubject('@pssubject.Id')"><span class="fa fa-trash"></span></button>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <b>Total</b>
                    </td>
                    <td align="right">
                        <b>
                            @Model.Sum(ps => ps.MidtermExamsCount)
                        </b>
                    </td>
                    <td align="center">
                        <b>
                            @Model.Count(ps => ps.HaveFinalExam)
                        </b>
                    </td>
                    <td>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
}
else
{
    <h4>No se han agregado asignaturas al período.</h4>
}

<!-- Add periodsubject modal -->
<div class="modal fade" id="addPeriodSubjectModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addPeriodSubjectModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPeriodModalLabel">Agregar asignatura al período</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <fieldset>
                    <div class="mb-3">
                        <label for="subjectSelected" class="form-label">Asignatura</label>
                        <select id="subjectSelected" class="form-select" aria-label="Seleccionar período">
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="midTermExamsCount" class="form-label">Cantidad de exámenes parciales</label>
                        <input type="number" min="0" max="5" class="form-control" id="midTermExamsCount" />
                    </div>
                    <div class="mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="finalExam">
                            <label class="form-check-label" for="finalExam">
                                Exámen final <small><span class="fa fa-info-circle" data-bs-toggle="tooltip" data-bs-html="true" title="<div><small><span class='fa fa-info-circle'></span> Exámen final</small></div> <div>Define si la asignatura tendrá exámen final en el período.</div>"></span></small>
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div id="createModalFooter" class="modal-footer">
                <div id="createModalLoadingSpinner" class="spinner-border text-primary" role="status" hidden>
                    <span class="visually-hidden">Loading...</span>
                </div>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><span class="fa fa-rectangle-xmark"></span> Cancelar</button>
                <button type="button" class="btn btn-success" onclick="AddPeriodSubject()"><span class="fa fa-circle-plus"></span> Agregar</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit periodsubject modal -->
<div class="modal fade" id="editPeriodSubjectModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editPeriodSubjectModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPeriodModalLabel">Editar asignatura del período</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <fieldset>
                    <div class="mb-3">
                        <label for="editedSubjectSelected" class="form-label">Asignatura</label>
                        <input id="editedSubjectSelected" type="text" class="form-control" readonly />
                        <input id="editedSubjectSelectedId" type="hidden" class="form-control" readonly />
                    </div>
                    <div class="mb-3">
                        <label for="editedMidTermExamsCount" class="form-label">Cantidad de exámenes parciales</label>
                        <input type="number" min="0" max="5" class="form-control" id="editedMidTermExamsCount" />
                    </div>
                    <div class="mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="editedFinalExam">
                            <label class="form-check-label" for="editedFinalExam">
                                Exámen final <small><span class="fa fa-info-circle" data-bs-toggle="tooltip" data-bs-html="true" title="<div><small><span class='fa fa-info-circle'></span> Exámen final</small></div> <div>Define si la asignatura tendrá exámen final en el período.</div>"></span></small>
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div id="editModalFooter" class="modal-footer">
                <div id="editModalLoadingSpinner" class="spinner-border text-primary" role="status" hidden>
                    <span class="visually-hidden">Loading...</span>
                </div>
                <input type="hidden" id="periodSubjectEdited" />
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><span class="fa fa-rectangle-xmark"></span> Cancelar</button>
                <button type="button" class="btn btn-warning" onclick="SaveChangesOfPeriodSubject()"><span class="fa fa-floppy-disk"></span> Guardar cambios</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete modals -->
<div class="modal fade" id="deletePeriodSubjectModal" tabindex="-1" aria-labelledby="deletePeriodSubjectModalTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deletePeriodSubjectModalTitle"><span class="fa fa-trash"></span> Eliminar asignatura del período</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="modal-deleteperiodsubject-content" class="modal-body">
                ¿Esta seguro que desea eliminar la asignatura del período?
            </div>
            <div id="deletePeriodSubjectModalFooter" class="modal-footer">
                <div id="deleteModalLoadingSpinner" class="spinner-border text-primary" role="status" hidden>
                    <span class="visually-hidden">Loading...</span>
                </div>
                <button id="modal-deleteperiodsubject-primarybutton" type="button" class="btn btn-danger"><span class="fa fa-trash-can"></span> Eliminar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><span class="fa fa-ban"></span> Cancelar</button>
            </div>
        </div>
    </div>
</div>