@model TeacherModel
@using QCUniversidad.Api.Shared.Extensions
@{
    ViewData["Title"] = "Detalles del profesor";
    var schoolYear = ViewData["schoolYear"] as SchoolYearModel;
    var periods = schoolYear?.Periods;
    var returnTo = (ViewData["returnTo"] as string) ?? "/";
}

<div class="d-flex flex-column flex-sm-row justify-content-between align-items-center mb-4">
    <div class="d-flex flex-column flex-sm-row gap-2 align-items-center text-center text-sm-start">
        <div class="d-flex flex-column">
            <div class="banner-title">Detalles</div>
            <div class="banner-subtitle">del profesor del departamento de @Model.Department.Name</div>
        </div>
    </div>
    <div class="d-flex flex-column align-items-center schoolyear-header">
        <div class="index-schoolyearheader">
            Año escolar
        </div>
        <div class="index-schoolyearname">
            @schoolYear.Name
        </div>
        @if (!string.IsNullOrEmpty(schoolYear.Description))
        {
            <div class="index-schoolyeardesc">
                @schoolYear.Description
            </div>
        }
    </div>
</div>

<dl class="row">
    <dt class="col-sm-3">Nombre completo</dt>
    <dd class="col-sm-9">@Model.Fullname</dd>

    <dt class="col-sm-3">Categoría</dt>
    <dd class="col-sm-9">@Model.Category.GetEnumDisplayNameValue()</dd>

    <dt class="col-sm-3">Cargo</dt>
    <dd class="col-sm-9">@Model.Position</dd>

    <dt class="col-sm-3">Tipo de contrato</dt>
    <dd class="col-sm-9">@Model.ContractType.GetEnumDisplayNameValue()</dd>

    <dt class="col-sm-3">Carné de identidad</dt>
    <dd class="col-sm-9">@Model.PersonalId</dd>

    <dt class="col-sm-3">Cumpleaños</dt>
    <dd class="col-sm-9">@Model.Birthday?.ToShortDateString()</dd>

    <dt class="col-sm-3">Edad</dt>
    <dd class="col-sm-9">@Model.Age</dd>
</dl>

<a href="@returnTo" class="btn btn-outline-info"><span class="fa fa-arrow-left"></span> Regresar</a>