@model NavigationListViewModel<DisciplineModel>

@{
    ViewData["Title"] = "Disciplinas";
    bool disciplineAdded = (bool?)TempData["discipline-added"] ?? false;
    bool disciplineEdited = (bool?)TempData["discipline-edited"] ?? false;
    bool disciplineDeleted = (bool?)TempData["discipline-deleted"] ?? false;
}

<div class="d-flex flex-column flex-sm-row justify-content-between align-items-center mb-4">
    <div class="d-flex flex-column flex-sm-row gap-2 align-items-center text-center text-sm-start justify-content-between">
        <div class="d-flex flex-column">
            <div class="banner-title">Disciplinas</div>
            <div class="banner-subtitle">Listado de disciplinas generales del sistema</div>
        </div>
    </div>
    <div>
        <a asp-action="Create" class="btn btn-success"><span class="fa fa-plus-circle"></span> Crear nueva</a>
        <a asp-action="Import" class="btn btn-outline-success"><span class="fa fa-file-import"></span> Importar desde archivo</a>
    </div>
</div>

@if (disciplineAdded)
{
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong><span class="fa fa-info-circle"></span> Disciplina creada</strong> Se ha creado una nueva disciplina satisfactoriamente.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (disciplineEdited)
{
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong><span class="fa fa-pencil-square"></span> Disciplina editada</strong> Se ha editado una nueva disciplina satisfactoriamente.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (disciplineDeleted)
{
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong><span class="fa fa-trash-can"></span> Disciplina eliminada</strong> Se ha eliminado una disciplina satisfactoriamente.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (Model.ItemsCount > 0)
{
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Departamento</th>
                    <th>Profesores</th>
                    <th>Asignaturas</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr id="@item.Id">
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @if (!string.IsNullOrEmpty(item.Description))
                            {
                                @item.Description
                            }
                            else
                            {
                                <i class="text-muted">Sin descripción</i>
                            }
                        </td>
                        <td>
                            <a asp-action="Deatils" asp-controller="Departments" asp-route-id="@item.DepartmentId" class="link-info" data-bs-toggle="tooltip" data-bs-html="true" title="<div><small><span class='fa fa-info-circle'></span> Departamento</small></div> <div><b>@item.Department?.Name</b></div> <div><i>@item.Department?.Description</i></div><div><b>@item.Department?.InternalId</b></div>">
                                @item.Department?.Name <small><span class="fa fa-info-circle"></span></small>
                            </a>
                        </td>
                        <td>
                            @item.TeachersCount
                        </td>
                        <td>
                            @item.SubjectsCount
                        </td>
                        <td>
                            <a asp-action="Details" asp-controller="Disciplines" asp-route-id="@item.Id" class="btn btn-sm btn-outline-info">
                                <span class="fa fa-info-circle" />
                            </a>
                            <a asp-action="Edit" asp-controller="Disciplines" asp-route-id="@item.Id" class="btn btn-sm btn-outline-warning">
                                <span class="fa fa-edit" />
                            </a>
                            <button class="btn btn-sm btn-sm btn-outline-danger" onclick="RiseDeleteModal('@item.Id')">
                                <span class="fa fa-trash" />
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- Navigation -->

    <partial name="_PageNavigation" model="Model" />

    <!-- Modals -->

    <div class="modal fade" id="deleteDisciplineModal" tabindex="-1" aria-labelledby="deleteDisciplineModalTitle" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteDisciplineModalTitle"><span class="fa fa-trash"></span> Eliminar disciplina</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="modal-delete-content" class="modal-body">
                    ¿Esta seguro que desea eliminar la disciplina?
                </div>
                <div id="deleteModalFooter" class="modal-footer">
                    <div id="deleteModalLoadingSpinner" class="spinner-border text-primary" role="status" hidden>
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <button id="modal-delete-primarybutton" type="button" class="btn btn-danger"><span class="fa fa-trash-can"></span> Eliminar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><span class="fa fa-ban"></span> Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
    <script src="~/js/discipline-index.js"></script>
    <script src="~/lib/popper/popper.min.js"></script>
    <script>
        $(document).ready(function () {
            LoadTooltips();
        });

        function LoadTooltips() {
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl);
            });
        }
    </script>
    }
}
else
{
    <partial name="_NoItems" model="@("No existen disciplinas registradas en el sistema.")" />
}